#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-box {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

body {

  background-image: url("https://img.freepik.com/free-photo/green-background-with-dark-green-background_1340-36498.jpg?t=st=1698143880~exp=1698147480~hmac=36c0c3efec42376c41236e52235ae1c4743310caf4b5c7f5be2089dee8e63ae5&w=1380");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
}

button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}